<html>
<head>
	<title>Thor's Revenge</title>
<link href="https://fonts.googleapis.com/css?family=Emilys+Candy" rel="stylesheet">
	
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
 <link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>

<div id="header">
	<div class="Container">
		<a id="header-title" href="/RockyBalboa">Thor's Revenge</a>
		<ul id="header-nav">
			<li>
				<a href="/">About</a>
			</li>

			<li>
				<a href="/">Log in</a>
			</li>
			<Li>
			    <a href="/">Sign up</a>
			</Li>

		</ul>
	</div>
</div>
    
    
<h1>Thor's Revenge</h1>
<h5> Learn to Love Yourself</h5>
<div class=container> 
<P>
    <!-- start slipsum code -->

Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.

<!-- end slipsum code -->
</P>
<br>
<button type="button" class="btn btn-default">Take The Test</button>
</div>
</body>
</html>